<h1 class="text center mb-3">Failed!</h1>



<h2>{{message}}</h2>




<h2>Functions</h2>

<a href="/api/createdb" class="btn btn-outline-primary">Create Database</a>

<a href="/api/createcustomer" class="btn btn-outline-primary">Create Customer</a>

<a href="/api/editcustomer" class="btn btn-outline-primary">Edit Customer</a>

<a href="/api/listallcustomers" class="btn btn-outline-primary">List All Customers</a>

<a href="/api/uploadcustomers" class="btn btn-outline-primary">Upload Customers</a>