
<h1 class="text center mb-3">{{title}}</h1>


<form action="/api/editcustomer" method="POST" class="mb-4">
<div class="form-group">
    
    
    <label for="phone">Enter customer phone</label>
    <input type="text" name="phone" class="form-control">
    
    
    </div>
<input type="submit" value="Find Customer" class="btn-primary btn-block">
</form>

