
<h1 class="text center mb-3">{{title}}</h1>


<form action="/api/putdb" method="POST" class="mb-4">
<div class="form-group">
    <label for="name">Enter database name</label>
    <input type="text" name="name" class="form-control">
    </div>
<input type="submit" value="Add Database" class="btn-primary btn-block">
</form>