<h1 class="text center mb-3">{{title}}</h1>



<h2>Functions</h2>

<a href="/api/getdbname" class="btn btn-light mt-4">Create Database</a>

<a href="/api/getcustomer" class="btn btn-light mt-4">Create Customer</a>

<a href="/api/editcustomer" class="btn btn-light mt-4">Edit Customer</a>