<h1 class="text center mb-3">{{title}}</h1>



<h2>Functions</h2>

<a href="/api/createdb" class="btn btn-outline-primary">Create Database</a>

<a href="/api/createcustomer" class="btn btn-outline-primary">Create Customer</a>

<a href="/api/editcustomer" class="btn btn-outline-primary">Edit Customer</a>