<h1 class="text center mb-3">{{title}}</h1>





<h2>Functions</h2>

<div class="jumbotron">
    <a href="/api/createdb" class="btn btn-outline-primary">Create Database</a>

    <a href="/api/createcustomer" class="btn btn-outline-primary">Create Customer</a>

    <a href="/api/editcustomer" class="btn btn-outline-primary">Edit Customer</a>

    <a href="/api/deletecustomer" class="btn btn-outline-primary">Delete Customer</a>

    <a href="/api/listallcustomers" class="btn btn-outline-primary">List All Customers</a>

</div>

<div class="jumbotron">
    <a href="/api/uploadcustomers" class="btn btn-outline-primary">Upload Customers</a>


    <a href="/api/optout" class="btn btn-outline-primary">Opt out</a>

    <a href="/api/sendwhatsapp" class="btn btn-outline-primary">Send Whatsapp</a>
</div>