<h1 class="text center mb-3">{{title}}</h1>


<form action="{{ next_action }}" method="POST" class="mb-4">
    <div class="form-group">


        <label for="phone">Enter your phone number for removing yourself from our database</label>
        <input type="text" name="phone" class="form-control">


    </div>
    <input type="submit" value="{{ next_action_name }}" class="btn-primary btn-block">
</form>